In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("Sample-Superstore.csv")

df.head()

,csvbase_row_id,﻿Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
df.shape

(9994, 22)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   csvbase_row_id  9994 non-null   int64
 1   ﻿Row ID         9994 non-null   int64
 2   Order ID        9994 non-null   object
 3   Order Date      9994 non-null   object
 4   Ship Date       9994 non-null   object
 5   Ship Mode       9994 non-null   object
 6   Customer ID     9994 non-null   object
 7   Customer Name   9994 non-null   object
 8   Segment         9994 non-null   object
 9   Country         9994 non-null   object
 10  City            9994 non-null   object
 11  State           9994 non-null   object
 12  Postal Code     9994 non-null   int64
 13  Region          9994 non-null   object
 14  Product ID      9994 non-null   object
 15  Category        9994 non-null   object
 16  Sub-Category    9994 non-null   object
 17  Product Name    9994 non-null   object
 18  Sales           9994 non-null   float64
 19  Quantity        9994 non-null   int64
 20  Discount        9994 non-null   float64
 21  Profit          9994 non-null   float64
dtypes: float64(3), int64(4), object(15)
memory usage: 1.7+ MB

In [6]:
df.describe()

,csvbase_row_id,﻿Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [7]:
df.isnull().sum()

csvbase_row_id    0
﻿Row ID           0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code       0
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
dtype: int64

In [8]:
df.fillna("Unknown", inplace = True)

In [9]:
before = df.shape[0]
df.drop_duplicates(inplace=True)
after = df.shape[0]

print(f"Removed {before - after} duplicate rows")

Removed 0 duplicate rows

In [11]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])
df.dtypes

csvbase_row_id             int64
﻿Row ID                    int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
Country                   object
City                      object
State                     object
Postal Code                int64
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
dtype: object

In [12]:
df["Shipping_Duration"] = (df["Ship Date"] - df["Order Date"]).dt.days
df[["Order Date", "Ship Date", "Shipping_Duration"]].head()

  Order Date  Ship Date  Shipping_Duration
0 2016-11-08 2016-11-11                  3
1 2016-11-08 2016-11-11                  3
2 2016-06-12 2016-06-16                  4
3 2015-10-11 2015-10-18                  7
4 2015-10-11 2015-10-18                  7

In [14]:
df["Order_Month_Name"] = df["Order Date"].dt.month_name()

In [15]:
df["Profit_Margin"] = df["Profit"] / df["Sales"]
df[["Sales", "Profit", "Profit_Margin"]].head()

      Sales    Profit  Profit_Margin
0  261.9600   41.9136         0.1600
1  731.9400  219.5820         0.3000
2   14.6200    6.8714         0.4700
3  957.5775 -383.0310        -0.4000
4   22.3680    2.5164         0.1125

NUMPY ANALYSIS

In [17]:
sales_array = df["Sales"].values
np.mean(sales_array)

np.float64(229.85800083049827)

In [18]:
np.median(sales_array)

np.float64(54.489999999999995)

In [19]:
np.std(sales_array)

np.float64(623.2139187650461)

### Outlier Analysis

q1 = np.percentile(sales_array, 25)
q3 = np.percentile(sales_array, 75)

iqr = q3 - q1
upper_limit = q3 + 1.5 * iqr

upper_limit

In [23]:
outliers = sales_array[sales_array > upper_limit]
len(outliers)

1167

Using the IQR method, sales values above 573.64 were identified as outliers.
A total of 1,164 high-value orders were found and retained, as they represent legitimate business transactions.

INSIGHTS

In [25]:
monthly_sales = df.groupby("Order_Month_Name")["Sales"].sum().sort_values(ascending=False)
monthly_sales.head()

Order_Month_Name
November     352461.0710
December     325293.5035
September    307649.9457
March        205005.4888
October      200322.9847
Name: Sales, dtype: float64

In [26]:
top_products = (df.groupby("Product Name")["Sales"].sum().sort_values(ascending = False).head(5))
top_products

Product Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
HON 5400 Series Task Chairs for Big and Tall                                   21870.576
GBC DocuBind TL300 Electric Binding System                                     19823.479
Name: Sales, dtype: float64

In [27]:
category_profit = df.groupby("Category")["Profit"].sum().sort_values(ascending=False)
category_profit

Category
Technology         145454.9481
Office Supplies    122490.8008
Furniture           18451.2728
Name: Profit, dtype: float64

In [28]:
df[["Discount", "Profit"]].corr()

          Discount    Profit
Discount  1.000000 -0.219487
Profit   -0.219487  1.000000

In [29]:
df.to_csv("Superstore_cleaned.csv", index=False)

## Key Business Insights

- November recorded the highest total sales, indicating strong seasonal demand.
  
- A negative correlation was observed between Discount and Profit, suggesting that higher discounts reduce overall profitability.

  
- These insights can help businesses optimize discount strategies during high-sales months.